

@import url('https://fonts.googleapis.com/css?family=Ubuntu');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.container {
    width: 50%;
}

.title {
    width: 100%;
    text-align: center;
    font-family:'Ubuntu';
    color: #114B5F
}

.media-player {
    width: 100%;
    padding: 0;
}

.media-controls {
    width: 100%;
    background: #114B5F;
    height: 84px;
    display: flex;
    
    flex-wrap: wrap;
}

.controls {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
}

.left {
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.right{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.progress-bar {
    width: 100%;
    background: #E4FDE1;
    transition: .4s all ease-in-out;
    cursor: pointer;
}

.progress-bar::-webkit-progress-bar {
	background: #456990;
}

progress::-webkit-progress-value {
	background: #E4FDE1;
}




.stop-btn {
    padding-left: 2rem;
}

.btn {
    color: #E4FDE1;
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 1rem;
}

.btn:hover {
    color: #028090;
}

.active {
    color: #c0392b;
}

.info {
    color: #ecf0f1;
}

input[type=range] {
    -webkit-appearance: none;

    margin: -1.25px 0;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 16.5px;
    cursor: pointer;
    box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
    background: #456990;
    border-radius: 0px;
    border: 0px solid #010101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1.8px 1.8px 5.9px rgba(255, 0, 0, 0.19), 0px 0px 1.8px rgba(255, 26, 26, 0.19);
    border: 2.9px solid #e4fde1;
    height: 14px;
    width: 25px;
    border-radius: 16px;
    background: rgba(228, 253, 225, 0.93);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 1.25px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #4f78a5;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 16.5px;
    cursor: pointer;
    box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
    background: #456990;
    border-radius: 0px;
    border: 0px solid #010101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1.8px 1.8px 5.9px rgba(255, 0, 0, 0.19), 0px 0px 1.8px rgba(255, 26, 26, 0.19);
    border: 2.9px solid #e4fde1;
    height: 14px;
    width: 25px;
    border-radius: 16px;
    background: rgba(228, 253, 225, 0.93);
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 16.5px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #3b5a7b;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
    background: #456990;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 1.8px 1.8px 5.9px rgba(255, 0, 0, 0.19), 0px 0px 1.8px rgba(255, 26, 26, 0.19);
    border: 2.9px solid #e4fde1;
    width: 25px;
    border-radius: 16px;
    background: rgba(228, 253, 225, 0.93);
    cursor: pointer;
    height: 14px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #456990;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #4f78a5;
  }
  