html
    head
        link(href='./main.css' rel='stylesheet')
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1", crossorigin="anonymous")
    body
    .container
        h1.title HTML5 custom video player
        video#media-player.media-player(src='../src/video/astley.mp4' preload="metadata" controls poster='../src/images/preview.jpg')

        #media-controls.media-controls
            progress#progress-bar.progress-bar(min='0' max='100' value='0')
            .controls
                .left
                    i.btn.fa.fa-play-circle.fa-lg.play-pause-btn#play-pause-btn
                    i.btn.fa.fa-stop-circle.fa-lg.stop-btn#stop-btn
                    i.btn.fa.fa-arrow-circle-left.fa-lg.stop-btn#back-btn
                    i.btn.fa.fa-arrow-circle-right.fa-lg.stop-btn#forward-btn
                    p.info.current-time-view#current-time-view 0:00 
                    p.info.time-left-view#duration-time-view
                .right
                    input(type='range' min='0' max='100').volume-input#volume-input
                    i.btn.fa.fa-volume-off.fa-lg.mute-btn#mute-btn
                    p.btn.fa.fa-arrows-alt.fa-lg#fullscreen
        script(src='./main.js')